@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: sans-serif;
}
header {
  height: 100vh;
  width: 100vw;
  background-image: url(photo/landscape.jpg);
  background-size: cover;
}
.navbar {
  position: absolute;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.navbar a {
  color: #fff;
}
.navbar .logo {
  font-size: 2em;
  font-weight: bold;
}
.navbar .nav-links ul {
  display: flex;
}
.navbar .nav-links ul li {
  margin: 0 25px;
}
.navbar .nav-links ul li.active a {
  color: #ed3c57;
}
@media screen and (max-width: 800px) {
  .nav-links {
    display: none;
  }
}
